body {

  background-color: White

}

h1 {

  color: black;

  border-color: white;

  border-width: 5px;

  border-style: solid;

}

a{

  color: green;

}


.override {

  color:red !important;

}​
